*{
	margin:0;
	padding: 0;
}

body{
    background-color: #CDBDB8;
    background-image: url(../img/fondos.jpeg);
    background-position: center;
}

nav{
    background-color:  #93a38e; /*linea verde*/
    padding: 1em;
    margin: 1em;
   border-width:thick;
   border-style: dotted;
   border-width: medium;  
   border-color: #4b5c46;
}
nav ul{ /*orden menu*/
	list-style: none;
	justify-content: center;
  align-items: center;
	display: flex;
	padding: 10px;
	margin: auto;
}

nav ul li a{ /*color relleno boton*/
	color:white;
	text-decoration: none;
	background-color: #657d5a;
	padding: 10px;
	margin:10px;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: #3d4d36;
	transition: ease-out .2s;
}

nav ul li a:hover{ /*color al pasar por encima del boton*/
	color: black;
	background-color: #9eb893;
	border-style: dotted;
	border-width: medium;
	border-color: #657d5a;
}


#contenedor{ /*fondo crema*/
	width:75%;
	max-width: 1200px;
	padding: 2em ;
	margin:15vh auto;
	text-align: center;
	background-color: #c9bcaf;
	border-radius: 5px;
	border-style: ridge;
	border-color: #c4a384;
}

header{ /*fondo titulo1*/
    background-color: #cfc6be;
    padding: 2em;
    margin: 1em;
   border-width:thick;
   border-style: dotted;  
   border-color: #ada093;
   
}

.titulo{
	display: block;
	font-size: 50px;
	background-color: #93a38e;
	padding: 20px;
	color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 0;
	border-style: double;
	border-color: #4b5c46;
}

.subtitulo{
	display: block;
	box-sizing: border-box;
	background-color: #b3c7ad;
	color: black;
	padding: 10px;
	width: 100%;
	border-style: solid;
	border-width: thin;
	border-color: #4b5c46;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

article{
	font-size: 20px;
	width:65%;
	margin:0 auto;
	background-color: #cfc6be;
	padding: 6em;
	border-style: dotted;
	border-width: thick;
	border-color: #918173;
	border-radius: 5px;
}

.display{
	padding:1em;
	background-color: #e6e6f2;
	width: 80%;
	margin: 2em auto;
	border-radius: 10px;
}

.consignas{
	border-radius: 30px;
	transition: border-radius 3.5s;
}

.consignas h2{
	margin-bottom: .4em;
}
.consignas h3{
	margin-bottom: .4em;
}


.consignas p{

	margin-bottom: 2em;
}

.resultado1{
	color: black;
  	padding: 100px;
  	margin: 40px;
  	width: 730px;
  	background-color: white;
  	border-style: dotted;
  	border-color: #918173;
	border-radius: 10px;
}

.resultados{
	width: 80%;
	display: flex;
	margin: 0 auto;
}

.botones{
	display: flex;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 80%;
}

.boton{
	padding: 10px;
	width: 45%;
	border-radius: 10px;
	border: none;
	padding: 1.5em;
	transition: ease-out .15s;
	margin: 0 auto;
}

.boton:hover{
	background-color: #c9c9c3;
	cursor: pointer;
}

.showClass{
	display: block;
	box-sizing: border-box;
	width: 45%;
	margin: 0 auto;
	background-color: #e6e6f2;
	opacity: 0.9;
	padding: 10px;
	border-radius: 5px;
}

.Platos{
	width:70%;
	border-radius: 20px;
	margin-bottom: 0em;
	transition: border-radius 2.5s;
} 



footer{
	background-color: #93a38e;
	margin: 1.5em auto 0;
	width: 100%;
	font-size: 1em;
	padding: 1em;
	color: black;
	width: 80%;
	border-radius: 5px;
	border-style: double;
	border-color: #4b5c46;
}

